html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

::-webkit-scrollbar {
    /* remove scrollbar */
    display: none; /* google */
}

html, body {
    /* remove scrollbar */
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* ie, edge */
}

body {
    background-image: url('./assets/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.centerh {
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.bg_tint {
    position: fixed;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    opacity: 0.4;
    z-index: -1;
}

.sidebar_L {
    position: fixed;
    top: 50%;
    left: -12vw;
    height: 100vh;
    width: 100vw;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.5;
    transition: opacity 0.5s;
    z-index: -1;
}

.sidebar_R {
    position: fixed;
    top: 50%;
    left: 88vw;
    height: 100vh;
    width: 100vw;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: -1;
}

.align_left{
    position: absolute;
    left: 5%;
    font-size: 64px;
    color:rgb(113, 164, 166);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main_text {
    position: absolute;
    top: 5.5%;
    left: 3%;
    font-size: 3.4vw;
    color:rgb(113, 164, 166);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    user-select: none;
    cursor: default;
}

.main_text_border {
    position: absolute;
    top: 5.7%;
    left: 2.6%;
    font-size: 3.4vw;
    color:rgb(113, 164, 166);
    user-select: none;
    cursor: default;
    text-decoration: overline;
    text-decoration-thickness: 0.07em;
}

.proj_name {
    position: fixed;
    top: 12%;
    left: 68%;
    font-size: 3.4vw;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color:rgb(140, 29, 40);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    user-select: none;
    cursor: default;
    opacity: 0;
    transition: opacity 0.5s ease-in 0.2s;
}

.proj_list_item {
    position: fixed;
    top: 20%;
    left: 6%;
    font-size: 2.4vw;
    color:rgb(140, 29, 40);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-shadow: 0 0 32px rgb(0, 0, 0);
    user-select: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s;
    text-decoration: underline;
}

.proj_image {
    position: fixed;
    top: 50%;
    left: 68%;
    height: 30vw;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0;
    transition: opacity 0.5s ease-in 0.3s;
}

.description {
    position: absolute;
    top: 20%;
    left: 4%;
    width: 32vw;
    font-size: 1.6vw;
    color:rgb(140, 29, 40);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    user-select: none;
    cursor: default;
    opacity: 0;
    transition: opacity 0.5s ease-in 0.2s;
}